@model QLNSFAHASA.Models.NhanVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string gtinh = "";
}

<h2>Thông tin chi tiết: </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên nhân viên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenNV)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Ngày sinh:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            SĐT:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Lương:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luong)
        </dd>

        <dt>
            Chức vụ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Giới tính:
        </dt>

        <dd>
            @{if (Model.GioiTinh == true)
                { gtinh = "Nam"; }
                else
                { gtinh = "Nữ"; }
            }
            @gtinh
        </dd>

        <dt>
           Mật khẩu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            Quyền hạn: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaNV }) |
    @Html.ActionLink("Quay về danh sách", "Index")
</p>
